<section class="I1 overflow-hidden">
  <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white">
    <div class="scrollbar-inner">
      <!--Menu-->
      <div class="w-19 h-100vh bg-color" id="sidebar-container">
        <div class="w-100 h-13">
          <div class="logo">
            <a href="">
              <img class="imagen-0" src="assets/img/brand/tutofast.png" width="40" height="46" alt="">
            </a>
          </div>
        </div>
        <div class="w-100 h-74 position-relative" id="middle">
          <div class="w-100 h-50 test">
            <a href="#">
              <div class="w-100 h-25 icon-1">
                <img class="imagen-1" src="assets/img/nav/nav01.png" width="40" height="40" alt="">
              </div>
            </a>
            <a href="#">
              <div class="w-100 h-25 icon-2">
                <img class="imagen-1" src="assets/img/nav/nav02.png" width="40" height="40" alt="">
              </div>
            </a>
            <a href="#">
              <div class="w-100 h-25 icon-3">
                <img class="imagen-1" src="assets/img/nav/nav03.png" width="40" height="40" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="w-100 h-13">
          <div class="foot">
            <a href="#">
              <img class="imagen-0" src="assets/img/nav/A0.png" width="40" height="40" alt="">
            </a>
          </div>
        </div>
      </div>
      <!--SubMenu-->
      <div class="w-81 h-100vh">
        <div class="w-100 h-92 overflow-hidden">
          <!-- Brand -->
          <a href="/TeacherMain">
            <div class="sidenav-header txt-side align-items-center">
              <h1 class="navbar-brand">Tuto<a>Fast</a></h1>
            </div>
          </a>
          <div class="navbar-inner overflow-auto">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
              <!-- Nav items -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/TeacherMain">
                    <i class="ni ni-tv-2 text-color"></i>
                    <span class="nav-link-text">Main</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/docenteEditProfile">
                    <i class="ni ni-circle-08 text-color-1"></i>
                    <span class="nav-link-text">Perfil de Usuario</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/files">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">File</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/schoolLevel">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">School Level</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/schoolGrade">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">School Grade</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/economicLevel">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Economic Level</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/district">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">District</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/category">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Category</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/account">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Account</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">User</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/course">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Course</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/student">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Student</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/teacher">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Teacher</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/parent">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Parent</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/subject">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Subject</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/outcomeReport">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Outcome Report</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/studentGoal">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Student Goal</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/review">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Review</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/session">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Session</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/application">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Application</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/attendance">
                    <i class="ni ni-send text-color-1"></i>
                    <span class="nav-link-text">Attendance</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-100 h-8">
          <div class="sidenav-header h-5vh txt-foot align-items-center">
            <h1 class="text-xl-center">Copyright © TECHelper</h1>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Info -->
  <div class="main-content fixed-top rt h-8">
    <nav class="navbar navbar-top navbar-expand navbar-light bg-transparent" id="sidenav-main">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->
          <button class="btn bg-container" id="menu-toggle">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Information -->
          <div class="ml-md-5 imp-detail w-50 h-25">
            <div class="sub-detail"><h1>Docente</h1></div>
            <div class="sub-detail"><h1>Miraflores</h1></div>
            <div class="sub-detail"><h1>Ubicacion Actual</h1></div>
          </div>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-bell-55 text-color-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                <!-- Dropdown header -->
                <div class="px-3 py-3">
                  <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                </div>
                <!-- List group -->
                <div class="list-group list-group-flush">
                  <a href="#!" class="list-group-item list-group-item-action">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="Image placeholder" src="assets/img/theme/team-1.jpg" class="avatar rounded-circle">
                      </div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">John Snow</h4>
                          </div>
                          <div class="text-right text-muted">
                            <small>2 hrs ago</small>
                          </div>
                        </div>
                        <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="Image placeholder" src="assets/img/theme/team-2.jpg" class="avatar rounded-circle">
                      </div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">John Snow</h4>
                          </div>
                          <div class="text-right text-muted">
                            <small>3 hrs ago</small>
                          </div>
                        </div>
                        <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="Image placeholder" src="assets/img/theme/team-3.jpg" class="avatar rounded-circle">
                      </div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">John Snow</h4>
                          </div>
                          <div class="text-right text-muted">
                            <small>5 hrs ago</small>
                          </div>
                        </div>
                        <p class="text-sm mb-0">Your posts have been liked a lot.</p>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="Image placeholder" src="assets/img/theme/team-4.jpg" class="avatar rounded-circle">
                      </div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">John Snow</h4>
                          </div>
                          <div class="text-right text-muted">
                            <small>2 hrs ago</small>
                          </div>
                        </div>
                        <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                      </div>
                    </div>
                  </a>
                  <a href="#!" class="list-group-item list-group-item-action">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="Image placeholder" src="assets/img/theme/team-5.jpg" class="avatar rounded-circle">
                      </div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">John Snow</h4>
                          </div>
                          <div class="text-right text-muted">
                            <small>3 hrs ago</small>
                          </div>
                        </div>
                        <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- View all -->
                <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="assets/img/theme/team-4.jpg">
            </span>
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span id="profile">Jesus Duran</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-calendar-grid-58"></i>
                  <span>Activity</span>
                </a>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-support-16"></i>
                  <span>Support</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet class="w-100 h-auto"></router-outlet>
</section>
