<section class="I1 overflow-hidden">
  <div class="sidenavpro navbar-vertical fixed-left navbar-expand-xs"></div>
  <div class="main-content">
    <div class="w-100vh h-10">
      <div class="h-12vh"></div>
    </div>
    <div class="w-100vh h-90 bg-container">
      <div class="container-fluid bg-container">
        <div class="row">
          <!-- Category -->
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="table-wrapper">
                      <h1>TutoFast | Districts</h1>
                      <h2>{{isEditMode ? 'Edit District' : 'Add new District'}}</h2>
                      <form (submit)="onSubmit()" #districtForm="ngForm">
                        <mat-form-field>
                          <input matInput placeholder="Name" name="name" required [(ngModel)]="DistrictData.name">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="EconomicLevel" name="economicLevel" required [(ngModel)]="DistrictData.economicLevel">
                        </mat-form-field>
                        <ng-container *ngIf="isEditMode; else elseTemplate">
                          <button mat-button color="primary">Update</button>
                          <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <button mat-button color="primary">Add</button>
                        </ng-template>
                      </form>
                    </div>
                    <div class="table-responsive">
                      <table mat-table [dataSource]="District" class="mat-elevation-z8 table align-items-center table-flush">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> #Id </th>
                          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>
                        <ng-container matColumnDef="economicLevel">
                          <th mat-header-cell *matHeaderCellDef> EconomicLevel </th>
                          <td mat-cell *matCellDef="let element"> {{ element.economicLevel.name }} </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef> Actions </th>
                          <td mat-cell *matCellDef="let element">
                            <a href="javascript:void(0)" (click)="editItem(element)">Edit</a> |
                            <a href="javascript:void(0)" (click)="deleteItem(element.id)">Delete</a>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{ 'editable-row': DistrictData.id == row.id}"></tr>
                      </table>
                    </div>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
                                   showFirstLastButtons></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

